:root {
  /* ### Primary */
  --very-dark-blue: hsl(243, 92%, 9%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* ### Accent */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --font-family-Raleway: 'Raleway', sans-serif;
  --weight-400: 400;
  --weight-600: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 4rem;
  margin-bottom: 1.5rem;
}

.header__logo {
  width: 11.95rem;
}

.header__navbar {
  width: 20rem;
}

.navbar__list {
  display: flex;
  gap: .35rem;
  justify-content: space-around;
  align-items: center;
}

.navbar__link {
  font-size: 1.04em;
  color: var(--very-dark-blue);
  font-weight: var(--weight-400);
}

.content__introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
}

.introduction__wrapper {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.12rem;
  margin-top: -1rem;
}

.introduction__title {
  font-family: var(--font-family-Raleway);
  font-size: 2.56em;
  word-break: break-all;
  line-height: 1.5;
  font-weight: var(--weight-600);
  color: var(--very-dark-blue);
}

.introduction__description {
  font-size: 1.3em;
  line-height: 1.3;
  color: var(--desaturated-blue);
  font-weight: 400;
}

.introduction__image {
  max-width: 50%;
}

.introduction__register {
  width: 85%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 2.2fr 1.3fr;
  gap: 1rem;
  position: relative;
}

.introduction__textEmail {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
}

.introduction__inputEmail {
  outline: solid #000 1px;
  padding-block: .8rem;
  padding-left: 1rem;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  font-size: .88em;
}


.introduction__btn {
  padding: .98rem;
  font-size: .95em;
  font-weight: var(--weight-600);
  opacity: 1;
  color: #fff;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  background-color: var(--bright-blue);
  transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
}

.introduction__btn:hover {
  cursor: pointer;
  opacity: .8;
  box-shadow: 0 .5rem .188rem rgba(7, 4, 57, 0.129), 0 .063rem .125rem rgba(7, 4, 57, 0.209);
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}

.content__feature {
  width: 100%;
  background-color: var(--light-grayish-blue);
  padding-top: 6rem;
}

.feature__productive {
  max-width: 90.9rem;
  padding-inline: 5.15rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 4.22rem;
}

.feature__wrapper {
  flex: 60%;
  font-family: var(--font-family-Raleway);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.feature__title {
  font-size: 2.75em;
  font-weight: var(--weight-600);
  color: var(--very-dark-blue);
  margin-bottom: .75rem;
}

.feature__description {
  font-size: 1.1em;
  font-weight: var(--weight-400);
  color: var(--desaturated-blue);
  line-height: 1.4;
  margin-right: 12rem;
}

.feature__link {
  color: var(--moderate-cyan);
  font-size: 1.02em;
  letter-spacing: 0.1ch;
  font-weight: var(--weight-400);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  border-bottom: solid var(--moderate-cyan) 1px;
  margin-bottom: 1rem;
  transition: color .15s ease-out;
  -webkit-transition: color .15s ease-out;
  -moz-transition: color .15s ease-out;
  -ms-transition: color .15s ease-out;
  -o-transition: color .15s ease-out;
}

.feature__link:hover {
  color: var(--very-dark-blue);
  transition: color .15s ease-in;
  -webkit-transition: color .15s ease-in;
  -moz-transition: color .15s ease-in;
  -ms-transition: color .15s ease-in;
  -o-transition: color .15s ease-in;
}

/* Testimonials */
.feature__testimonials {
  max-width: 22rem;
  padding: 2.1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: #fff;
  border-radius: .5rem;
  -webkit-border-radius: .35rem;
  -moz-border-radius: .35rem;
  -ms-border-radius: .35rem;
  -o-border-radius: .35rem;
}

.testimonials__imageQuote {
  width: 1rem;
}

.testimonials__quote {}

.testimonials__description {
  line-height: 1.7;
}

.testimonials__wrapper {
  outline: solid red 1px;
  display: flex;
}

.testimonials__image {
  width: 2.5rem;
}

.testimonials__author {
  display: flex;
  flex-direction: column;
}

.testimonials__name {}

.testimonials__occupation {}

.feature__image {
  flex: 45%;
}