:root {
  /* ### Primary */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* ### Accent */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --font-family-Open-Sans: 'Open Sans', sans-serif;
  --font-family-Raleway: 'Raleway', sans-serif;
  --weight-400: 400;
  --weight-600: 600;
}

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 4rem;
  margin-bottom: 1.25rem;
}

.introduction__logo {
  width: 11.95rem;
}

.introduction__navbar {
  width: 20rem;
}

.navbar__list {
  display: flex;
  gap: .35rem;
  justify-content: space-around;
  align-items: center;
}

.navbar__link {
  font-size: 1.04em;
  color: var(--very-dark-blue);
  font-weight: var(--weight-400);
}