:root {
  /* ### Primary */
  --very-dark-blue: hsl(243, 92%, 9%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* ### Accent */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --font-family-Raleway: 'Raleway', sans-serif;
  --weight-400: 400;
  --weight-600: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 4rem;
  margin-bottom: 1.5rem;
}

.header__logo {
  width: 11.95rem;
}

.header__navbar {
  width: 20rem;
}

.navbar__list {
  display: flex;
  gap: .35rem;
  justify-content: space-around;
  align-items: center;
}

.navbar__link {
  font-size: 1.04em;
  color: var(--very-dark-blue);
  font-weight: var(--weight-400);
}

/* .content {} */

.content__introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.introduction__wrapper {
  /* outline: solid green 1px; */
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.12rem;
  margin-top: -1rem;
}

.introduction__title {
  font-family: var(--font-family-Raleway);
  font-size: 2.56em;
  word-break: break-all;
  line-height: 1.5;
  font-weight: var(--weight-600);
  color: var(--very-dark-blue);
}

.introduction__description {
  font-size: 1.3em;
  line-height: 1.3;
  color: var(--desaturated-blue);
  font-weight: 400;
}

.introduction__image {
  max-width: 50%;
}

.introduction__register {
  width: 85%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 2.2fr 1.3fr;
  gap: 1rem;
  position: relative;
}

.introduction__textEmail {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
}

.introduction__inputEmail {
  outline: solid #000 1px;
  padding-block: .8rem;
  padding-left: 1rem;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  font-size: .88em;
}


.introduction__btn {
  padding: .98rem;
  font-size: .95em;
  font-weight: var(--weight-600);
  opacity: 1;
  color: #fff;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  background-color: var(--bright-blue);
  transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
}

.introduction__btn:hover {
  cursor: pointer;
  opacity: .8;
  box-shadow: 0 .5rem 0.188rem rgba(7, 4, 57, 0.129), 0 0.063rem 0.125rem rgba(7, 4, 57, 0.209);
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}